@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");
@import "_variables";
@import "_mixins";

@media screen and (max-width: $sm) {
}

// FORMAT HTML, SOME GET TO NORMALIZE.CSS

:root {
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 25px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

//Body Styles

body {
  font-family: $font-primary;
  
}

.head {
  padding: 1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  column-gap: 2rem;
  @media screen and (max-width: $sm) {
    flex-direction: column;
    row-gap: 3rem;
  }
  @media screen and (max-width: $md) {
    flex-direction: column;
    row-gap: 3rem;
  }
}

#field-text {
  border: transparent;
  resize: none;
  font-family: $font-primary;
  font-size: 1.5rem;
  color: $color-secondary;
  text-align: justify;
  @media screen and (max-width: $sm) {
    text-align: center;
  }
}

textarea:focus {
  border-color: gray;
  outline: 0 none;
}

::placeholder {
  color: $color-secondary;
}

.encrypt-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 3rem;
  @media screen and (max-width: $sm) {
    align-items: center;
  }
}

.encrypt-section-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

#encrypt-btn {
  background-color: $color-secondary;
  color: white;
  border-color: $color-secondary;
}

#decrypt-btn {
  background-color: #ff8000d0;
  color: white;
  border-color: #ff8000d0;
}

.btn-encrypt-section {
  //Individual btn
  @include btn-style;
}

#encrypt-btn:hover,
#decrypt-btn:hover {
  background-color: white;
  color: black;
}

.text-section {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: normal;
  row-gap: 2rem;
  padding: 3rem;
  border: 1px solid #80808057;
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px #00000056;
  background-color: $color-primary;
  @media screen and (max-width: $sm) {
    width: 100%;
  }
  @media screen and (max-width: $md) {
    width: 100%;
  }
}

.image-to-replace {
  overflow: scroll;
}

#copy-btn {
  @include btn-style;
}

#copy-btn:hover {
  background-color: $color-secondary;
  color: white;
}

#text-return {
    font-family: $font-primary;
    font-weight: 300;
    font-size: medium;
    text-align: justify;
}

.foot {
    
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}
